<div class="bg" id="restbg"></div>

<div id="headcont"class="container">
  <div id="heading" class="jumbotron">
    <h1 class="display-3"> <i class="fa fa-cutlery" aria-hidden="true"></i> Fill Your Belly</h1>
    <p class="lead">Tex Mex or Barbacue?</p>
    <p>
      I know what you're thinking.  Texas, right?  Must be great BBQ!  Well you're absolutely correct.  It's some of
      the best BBQ you've every had the opportunity to stick in your face.  Better yet, BBQ isn't the only area
      where Austin excels.  The city is right in the middle of a culinary renaissance that has attracted some of the
      best chefs from around the world to come out and hone their craft.  Whether you're eating a grilled cheese
      sandwich from a food truck or sitting down to a fancy dinner, it's going to be memorable.  Eating
      the food here is a religious experience.
    </p>
  </div>
</div>

{{#each dataList}}
<div id="headcont"class="container restven">
  <div id="heading" class="jumbotron event">
    <h1 class="display-title">{{this.name}}</h1>
    <p class="lead">
      <p><strong>Website:</strong>
        <a href='{{this.website}}'>{{this.website}}</a>
        <br>
        <strong>Address:</strong> {{this.address}}
        <br>
        <strong>Phone:</strong> <a href="tel:{{this.mobilelink}}">{{this.phone}}</a>
      </p>
    </p>
    <hr class="my-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="inner-event">
            <p>{{this.summary}}</p>
          </div>
          <img class="img-thumbnail" src='/Pictures/{{this.image}}' alt="{{this.name}}">
        </div>
        <div class="col">
          <iframe class="map" src='{{this.googlemap}}' width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
  </div>
</div>
{{/each}}
